html {
    padding: 80px;
    /* color:#F3D8BA; */
    /* color: #005f38; */
    /* background-image: url('js-tile.png'); */
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    border: solid 5px #005f38;
    padding: 100px;
    font-family: 'Josefin Slab', sans-serif;
}

.main-image {
    text-align: center;
}

.main-image img {
    width: 65%;
    margin-bottom: 60px;
}

header {
    margin-bottom: 100px;
}

.logo {
    margin: 0 auto;
}

.logo img {
    width: auto;
    display: block;
    margin: 0 auto;
    height: 200px;
}

nav {
    text-align: center;
}

a {
    text-decoration: underline;
    color: #005f38;
}

h1 {
    font-size: 80px;
    margin: 0;
}

.line {
    line-height: 1.6em;
    margin-top: -0.8em;
    margin-bottom: 1.6em;
    font-size: 14px;
    border-bottom: solid 1px #005f38;
}

.bullet-list {
    list-style-type: disc;
}

.bullet-list li {
    display: block;
}

.bullet-list li a {
    text-decoration: underline;
    color: #005f38;
}

ul {
    padding: 0 20px;
    list-style: none;
    background: #ffffff;
    display: inline;
}

li {
    display: inline;
    padding: 0 20px;
    font-size: 24px;
}

ul.registry-list {
    padding-top: 0px;
}

ul.registry-list li {
    font-size: 18px;
}

nav li:hover a {
    border-bottom: solid 7px #F3D8BA;
    line-height: .3;
}

li a {
    text-decoration: none;
    color: #000000;
}

.logo-text {
    padding-bottom: 60px;
    font-family: 'Josefin Sans', sans-serif;
}

.logo-text ul {
    display: block;
    margin: 60px 0px;
}

.logo-text li {
    width: 33.33333%;
    box-sizing: border-box;
    display: block;
    float: left;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.logo-text li.left {
    text-align: left;
}

.logo-text li.right {
    text-align: right;
}

.main-text {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    width: 70%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 20px;
    padding: 20px 0px;
}

.main-text strong {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}

.main-text.events h3 {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(0, 0, 0, 0.3);
}
.main-text.events p{
    border-left: solid 3px #005f38;
    padding-left: 20px;
}
.center {
    text-align: center;
}

.rsvp-link {
    padding: 20px 40px;
    background-color: #005f38;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    display: block;
    width: 50%;
}

.map {
    width: 100%;
    height: 26em;
}