---
layout: default
---
<div class="content-box clearfix">
  <div class="main-stage">
    {{ content }}
  </div>
</div>
<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header>
  <footer>
    <section class="contact clearfix">
      <h3 class="contact-title">Find Us On The Web</h3>
      <div class="contact-name">Seth:</div>
      <ul>
        <li><a href="https://twitter.com/{{ site.social-twitter-seth }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/{{ site.social-instagram-seth }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li class="github"><a href="http://github.com/{{site.social-github-seth }}" target="_blank"><i class="fa fa-github"></i></a></li>
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin-seth }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li class="email"><a href="mailto:{{site.social-email-seth }}"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
      <div class="contact-name">Jess:</div>
      <ul>
        <li><a href="https://twitter.com/{{ site.social-twitter-jess }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/{{ site.social-instagram-jess }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li class="github"><a href="http://github.com/{{site.social-github-jess }}" target="_blank"><i class="fa fa-github"></i></a></li>
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin-jess }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li class="email"><a href="mailto:{{site.social-email-jess }}"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
    </section>
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer>
</aside>
