---
layout: default
---
<div class="main-stage">
  <article class="article-page">
    <div class="page-content">
      {% if page.img %}
      <div class="page-cover-image">
        <figure>
          <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
          {% if page.fig-caption %}
            <figcaption>{{page.fig-caption}}</figcaption>
          {% endif %}
        </figure>
      </div> <!-- End Page Cover Image -->
      {% else %}
      {% endif %}
      <div class="wrap-content">
        <header class="header-page">
          <h1 class="page-title">{{page.title}}</h1>
          <div class="page-date"><span>{{page.date | date: '%B %d, %Y'}} - {{page.author}}</span></div>
        </header>
        {{content | markdownify}}
        <div class="page-footer">
          <div class="page-share">
            <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Tweet this post</a>
          </div>
          <div class="page-tag">
            {% for tag in page.tags %}
              <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
            {% endfor %}
          </div>
        </div>
        {% include disqus.html %}
      </div> <!-- End Wrap Content -->
    </div> <!-- End Page Content -->
  </article> 
</div>
<div class="back-link">
    &#10229; <a href="{{site.baseurl}}/">Back to the Blog</a>
</div><!-- End Article Page -->
<div class="post-copyright center">
  © 2019 Seth Puckett & Jessica Bell
</div>